
.selecting-box{
    width: 1140px !important;
    background: #fff;
    border-radius: 10px;
}

.film-box, .theatre-box{
    width:300px;
    margin: 0 5px;
    padding: 10px 0;
}

.date-box, .time-box{
    width:120px;
    margin: 0 5px;
    padding: 10px 0;
}

@media only screen and (max-width: 992px){
    .selecting-box{
        max-width: 100% !important;
    }
}