.carousel{
    position: relative;
}
    

.movie-detail-carousel{
        width: 50%;
        position: absolute;
        top: 150px;
        left: 120px;
        padding: 20px 30px;
        border-radius: 10px;
        background: radial-gradient(black, transparent);
}

@media only screen and (min-width: 1200px){
    .movie-detail-carousel{
        top: 150px;
        left: 120px;
    }
}

@media only screen and (min-width: 900px){
    .movie-detail-carousel{
        top: 80px;
        left: 90px;
    }
}