.signup-background{
    width:100%;
    position: relative;
}



.signup-box-wrapper{
    width:800px;
    height: 570px;
    position: absolute;
    left: calc(50% - 400px);
    top: 120px;
    text-align: center;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.1);;
}

.left-box{
    padding: 35px 40px;
    padding-bottom: 0;


}
.text-box-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
}
.fa-exclamation-circle{
    font-size: 20px;
}

.right-box{
    background-image: url("https://images.pexels.com/photos/2873486/pexels-photo-2873486.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
   
}

.signup-input{
    width:350px !important;
    padding: 10px 0 !important;
}   

@media only screen and (max-width: 992px){
    .right-box{
        display: none;
    }
    .signup-box-wrapper {
        width: 450px;
        height: 570px;
        left: calc(50% - 225px);
    }
}